
h2 {
    display: block;
    font-size: 36px;
    font: #ffffff;
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}




:root{
	--mainColor: #15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;
}

html,body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body * {
    transition: 0.3s;
}

.s1 {
    background-color: #15202B;
    border-bottom: 1px solid;  var(:#164D56;)
    overflow: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header{
    text-align: center;
    padding: 1rem;
    position: relative;
}

.header:after{
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 200px;
    background-color: #2ecc71;
    border-radius: 2;
}

.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}
.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.skill-box {
    padding: 1rem;
    color: #dddddd;
    cursor: pointer;
}


.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .5s;
}

.skill-img {
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 65px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.header {
    text-align: center;
    padding: 1rem;
    position: relative;
}


div {
    display: block;
}

section {
    display: block;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }


    @media screen and (max-width: 650px)
    .skills-container {
        padding: 2rem 50px;
    }

    @media screen and (max-width: 1000px)
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}
